.Endingwonders{
    width: 98;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #f2f2f1;
    border-radius: 20px;
   margin-bottom: 20px;
   margin-right: 10px;
   margin-left: 10px;
   .Endingwonders-top{
    width: 98%;
    height: 50px;
    font-family: var(--fontFamily);
   }
   .Endingwonders-top{
    width: 96%;
    height: 80px;
    padding: 20px 20px 20px 0 ;}
    .Endingwonders-center{
        width: 96%;
        height: 320px;
        border-radius: 15px;
        padding: 20px 20px 20px 0 ;
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid #f2f2f1;
            .swiper-slide-item{
                width: inherit;
                height: inherit;
                border-left: 1px solid #f2f2f1;
                .img-1{
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
 
                .img-2{
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin: 10px auto;
                }
                .swiper-slide-item-observe{
                    width: 100%;
                    a{
                        text-align: center;
                        font-family: var(--fontFamily);
                         display: flex;   
                         align-items: center;
                         justify-content: center;
                         text-decoration: none;
                         color: whitesmoke;
                         font-size: 12px;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                    
                }
            }
            .swiper-slide-item-product{
                padding:10px;
                width: 100%;
                padding-bottom: 20px;
                height: 300px;
                .swiper-slide-item-product-image{
                    width: 108px;
                    height: 13px;
                    img{
                        width: 50%;
                        height: 13px;
                    }
                }
                .Endingwonders-image{
                    width: 132px;
                    height: 132px;
                    display: block;
                    margin:  5px auto;
                }
                h6{
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 25px;
                    margin-bottom: 5px;
                    width: 80%;
                    margin: 0 auto;
                }
                .price{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row-reverse wrap;
                    font-family: var(--fontNumber);
                    .price-discount{
                        background-color: crimson;
                        border-radius: 10px;
                        padding: 0px 10px;
                        color: whitesmoke;
                    }
                }
                .discount{
                    width: 100%;
                    text-decoration: line-through;
                    text-align: left;
                    font-family: var(--fontNumber);
                    color: lightgray;
                    padding-left: 15px;
                }
                span{
                    width: 80%;
                    height: 2PX;
                    background-color: red;
                text-align: center;
                }
                .sales{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row-reverse wrap;
                    font-family: var(--fontNumber);
                    .right{   
                        width: 50%;
                        display: flex;
                    .percnage{ 
                        padding: 0px 10px;
                        color: crimson;

                    }}
                }
                .clock{
                    width: 50%;
                    display: flex;
                    font-family: var(--fontNumber);
                    color: crimson;
                    padding-right: 30px;
                }
       
            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}
.transparent{
    background-color: transparent !important;
}
.radiusEndingwonders{
    border-radius: 0 10px 10px 0 ;
}